<!DOCTYPE html>
<html ng-app="MailSender5000App">
  <head>
    <title>Mail Sender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" media="screen">
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
        <script src="{{ url_for('static', filename='angular-tinymce.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script> 

    </script>
  </head>
    <body ng-controller="MailSenderController">
    <div id="main" class="container">
      <div class="row">
        <div ng-show="!got_results" class="col-sm-8 col-sm-offset-2">
          <h1>Mail Sender 5000</h1>
          <br>
          <form role="form" ng-submit="getResults()">
            <div class="form-group">
              <label for="name_from">From</label>
              <input type="text" name="name_from" class="form-control" id="url-box" placeholder="Who's the mail from?" style="max-width: 500px;" ng-model="name_from" required>
            </div>
            <div class="form-group">
              <label for="email_from">Your email</label>
              <input type="email" name="email_from" class="form-control" id="url-box" placeholder="Who's email should be used?" style="max-width: 500px;"  ng-model="email_from" required>
            </div>
            <div class="form-group">
              <label for="send_to">Recipient email</label>
              <input type="email" name="send_to" class="form-control" id="url-box" placeholder="To whom should the mail be sent?" style="max-width: 500px;"  ng-model="send_to" required>
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" name="subject" class="form-control" id="url-box" placeholder="Subject" style="max-width: 500px;"  ng-model="subject" required>
            </div>
            <div class="form-group">
              <label for="html">Message</label>
              <textarea id="html" ui-tinymce="tinymceOptions" ng-model="html"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          
        </div>
        <div class="col-sm-8 col-sm-offset-2 result-message">
            <div ng-bind="result_message" ng-show="result_message" class="alert alert-info">
            </div>
            <button type="button" ng-show="got_results" class="btn btn-default" ng-click="restart()">Again!</button>
          </div>
    </div>
    <br><br>

  </body>
</html>